div.mdl-grid.login-grid div.mdl-card {
    margin: 20px auto;
    width: 95%;
}

div.mdl-grid.login-grid div.login-form.mdl-cell--4-col {
    margin-right: 20px;
}

div.mdl-grid.login-grid div.mdl-card div.mdl-card__actions button {
    display: block;
    margin: 0 auto;
}

div.mdl-grid.login-grid div.mdl-card div.mdl-textfield {
    width: 100%;
}

@media only screen and (max-width: 1500px) {
    div.mdl-grid.login-grid {
        padding: 35px 0 0 35px;
    }
}

@media only screen and (max-width: 1030px) {
    div.mdl-grid.login-grid {
        padding: 0 0 0 15px;
    }
}

@media only screen and (max-width: 480px) {
    div.mdl-grid.login-grid div.login-form.mdl-cell--4-col {
        margin-right: 0;
    }

    div.mdl-grid.login-grid {
        padding-left: 12px;
    }
}