<div class="mdl-grid login-grid">
    <div class="login-form mdl-cell--4-col">
        <form ng-submit="login()">
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="loginUsername" ng-model="loginUsername" ng-required>
                        <label class="mdl-textfield__label" for="loginUsername">username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="loginPassword" ng-model="loginPassword" ng-required>
                        <label class="mdl-textfield__label" for="loginPassword">password</label>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-disabled="!loginUsername || !loginPassword">Log in</button>
                </div>
            </div>
        </form>
    </div>
    <div class="signup-form mdl-cell--4-col">
        <form ng-submit="signUp()">
            <div class="mdl-card mdl-shadow--4dp">
                <div class="mdl-card__supporting-text">
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="signupUsername" ng-model="username" ng-required>
                        <label class="mdl-textfield__label" for="signupUsername">username</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="signupPassword" ng-model="password" ng-required>
                        <label class="mdl-textfield__label" for="signupPassword">password</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="password" id="signupConfirmPassword" ng-model="confirmPassword" ng-required>
                        <label class="mdl-textfield__label" for="signupConfirmPassword">confirm password</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="email" id="signupEmail" ng-model="email" ng-required>
                        <label class="mdl-textfield__label" for="signupEmail">email</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield">
                        <input class="mdl-textfield__input" type="text" id="signupName" ng-model="name" ng-required>
                        <label class="mdl-textfield__label" for="signupName">name</label>
                    </div>
                </div>
                <div class="mdl-card__actions">
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" ng-disabled="!username || !password || !confirmPassword || !email || !name">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>